.git
.github
.pytest_cache
.ruff_cache
.tmp
.venv
__pycache__
*.pyc
*.pyo
*.log

.model_cache
artifacts
dataset
datasets
datasetCreation/cropped
datasetCreation/cropped_datumaro
datasetCreation/images
datasetCreation/jsons
datasetCreation/labels
datasetCreation/runs
datasetCreation/temp_extract
datasetCreation/YoloDatasetReady
runs

*.7z
*.jpg
*.jpeg
*.png
*.pt
*.pth
*.zip
report*.txt
summary.json
