.datasetCreation/cropped
.datasetCreation/images
.datasetCreation/jsons
.datasetCreation/labels
datasetCreation/cropped
datasetCreation/cropped_datumaro
datasetCreation/images
datasetCreation/jsons
datasetCreation/labels
datasetCreation/runs
datasetCreation/temp_extract
datasetCreation/YoloDatasetReady
datasets/
artifacts
.venv
venv
*.pth
*.jpg
*.jpeg
*.pt
*.7z
report3.txt

*__pycache__/
*.log
.vscode
.tmp
.deps
*.zip
.zip
Yolo_dataset_ready
report.txt
report2.txt
summary.json
Yolo26sTest/
YoloMultiTask/runs/