.datasetCreation/cropped
.datasetCreation/images
.datasetCreation/jsons
.datasetCreation/labels
datasetCreation/cropped
datasetCreation/images
datasetCreation/jsons
datasetCreation/labels
.venv
venv
*.pth
dataset
